<form class="addForm" action="/add-task-submit" method="post">
    <input class="inputTask" type="text" name="name" placeholder="Enter your task" />
    <input class="submitTask" type="submit" value="+" />
</form>