<h1>ADD task</h1>
<!-- <a href="/"><button>HOME</button></a> -->

<form action="/add-task-submit" method="post">
    <label> task Name:</label>
    <input type="text" name="name" />
    <input type="submit" />
</form>