<h1>ADD COLOR</h1>
<!-- <a href="/"><button>HOME</button></a> -->

<form action="/add-color-submit" method="post">
    <label> Color Name:</label>
    <input type="text" name="name" />
    <input type="submit" />
</form>