<div class="orderFilter">
    <button class="filter"><a href="/<%= 1 %>">filterYES</a></button>
    <button class="filter"><a href="/<%= 0 %>">filterNO</a></button>
    <button class="order"><a href="/<%=  %>">ALL</a> </button>
</div>