<%- include('partials/header.ejs') -%>
    <h1>Color Profile</h1>
    <a href="/"><button>Home</button></a>

    <p>Color name: <%= color.name %>
    </p>
    <p>Color id: <%= color.id %>
    </p>

    <%if(color.checked==1){%>
        <p>Color status: Done</p>
        <%} else {%>
            <p>Color status: Pendant</p>
            <%}%>

                <%- include('partials/footer.ejs') -%>