<%- include('partials/header.ejs') -%>

	<h1>Home 2</h1>

	<ul>
		<% colors.forEach(color=> { %>
			<li><a href="/color/<%= color.id %>">
					<%= color.name %>
			</li></a>
			<% }) %>

	</ul>
	<%- include('partials/footer.ejs') -%>