/* :::::::::::::::::::::::::::RESETS :::::::::::::::::::::::::::::::::::::::: */
html, body {
	height: 100%;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
  	margin:0; 
      background-color: rgb(71, 121, 121);
	/* background: rgb(255, 234, 255);
	background: linear-gradient(229deg, 
	rgb(208, 163, 214) 0%, rgb(221, 215, 208) 47%, 
	rgb(224, 212, 230) 65%);
	background-repeat: no-repeat;
    background-attachment: fixed; */

}

*, *::before, *::after {
	box-sizing: inherit;
}



* {
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  line-height: 1.2; 
  margin: 0;
  padding:0;  
}

ul, ol { 
	list-style-type: none;
}
  
img{
	max-width: 100%;
	width: auto;
	height: auto;
	vertical-align: bottom;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* ::::::::::::::::::::::::::::::VARIABLES :::::::::::::::::::::::::::::: */
html{
    --pad-gap:1em; /* paddings and gaps */  
}
	

.hide{
    display: none;
}

/* ==========================================
=========================================
HOME PAGE
==========================================
========================================= */

/* ::::::::::::::::::::::::::::::::::::::: */
/* HEADER */
/* ::::::::::::::::::::::::::::::::::::::: */

.topHeader{
    display: flex;
    justify-content: center;
    gap: var(--pad-gap);
    padding-top: calc(var(--pad-gap)*2);


    /* border:0.2em solid yellowgreen;
    background-color: blueviolet; */
}

.logo{
    border:0.2em solid yellowgreen;
}

.appName{
    border:0.2em solid yellowgreen;
}


/* ::::::::::::::::::::::::::::::::::::::: */
/* MAIN PAGE CONTAINER*/
/* ::::::::::::::::::::::::::::::::::::::: */
.main{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    gap: var(--pad-gap);
    padding:  calc(var(--pad-gap)/2);
   

    /* border:0.2em solid rgb(209, 109, 15);
    background-color: rgb(126, 189, 145);   */
}


/* ::::::::::::::::::::::::::::::::::::::: */
/* ADD TASK FORM */
/* ::::::::::::::::::::::::::::::::::::::: */

.addForm{
    display: flex;
    justify-content: space-between;
    gap: var(--pad-gap);
    padding:calc(var(--pad-gap)) 0 ;


    /* border:0.2em solid yellowgreen;
    background-color: rgb(118, 61, 172);   */
}

.inputTask{
    flex-grow: 1;
    flex-wrap: wrap;
    padding-left: var(--pad-gap);


    height: 2em;
}

.submitTask{

    height: 2em;
    width: 2em;
}



/* ::::::::::::::::::::::::::::::::::::::::::  */
/* FILTER */
/* ::::::::::::::::::::::::::::::::::::::::::  */

/* Container for filter buttons */
.filters{
    display: flex;
    gap: calc(var(--pad-gap)/2);
}

/* All the anchors */
.filter{
    border-radius:20% 20% 0 0;
    padding: calc(var(--pad-gap)/1.5);
    
}

/* Anchor that was clicked */
.filterActive{
    background-color: rgb(177, 8, 255);
    opacity: 1;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

/* Anchor that were not clicked */
.filterInactive{
    background-color: rgb(165, 165, 165);
    opacity: 0.5;
    color: rgb(188, 236, 255);
}


/* ::::::::::::::::::::::::::::::::::::::: */
/* CONTAINER FOR TASKS LIST */
/* ::::::::::::::::::::::::::::::::::::::: */
/* <!-- root container to pupulate it with the task items --> */
.ulTasks{
    display: grid;
    gap: calc(var(--pad-gap)/4);
    

    /* border:0.2em solid yellowgreen;
    background-color: rgb(138, 238, 155);   */
}

/* ::::::::::::::::::::::::::::::::::::::: */
/* Item row */
/* ::::::::::::::::::::::::::::::::::::::: */
.itemrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--pad-gap)/4);
    padding: calc(var(--pad-gap)/2) ;


    border:0.02em solid yellowgreen;
    background-color: rgb(194, 158, 200);  
}

/* Item information Container  */
.iteInfoContainer{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    gap: calc(var(--pad-gap)/4);

    /* border:0.02em solid yellowgreen;
    background-color: rgb(67, 78, 231);   */
}

/* Checkbox container and Checkbox */
.divCheck, .checkbox{
    height:1em;
    width: 1em;
}


/* ::::::::::::::::::::::::::::::::::::::: */
/* labelFormControls */
/* ::::::::::::::::::::::::::::::::::::::: */
.labelFormControls{
    display: grid;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    

    /* border:0.02em solid yellowgreen;
    background-color: rgb(209, 209, 209);  */
}

/* Information container / form to update the name */
.labelEdit, .editForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--pad-gap)/8 );
   
}

/*  Information container */
.labelEdit {

    /* border:0.02em solid yellowgreen;
    background-color: rgb(124, 136, 125);  */
}

.labelAnchor, .inputIdName{
    display: flex;
    gap: var(--pad-gap);
    flex-grow: 1;
    flex-wrap: wrap;
}



.labelAnchor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* border:0.02em solid yellowgreen;
    background-color: rgb(194, 158, 200);  */
}

/* Laber for checkbox  */
.labelforCheck{
    flex-shrink: 1;
    height: fit-content;
    color: teal;
    font-weight: bold;
   
    padding: calc(var(--pad-gap)/2);
    flex-grow: 1;

    /* background-color: rgb(184, 184, 184); */
}


/* Link to TASK PROFILE PAGE */
.itemLinkInfo{
    background-color: rgba(200, 108, 108, 0.507);
    border-radius: 50%;
    height: 1.2em;
    width: 1.2em;
    text-align: center;
    padding-top: .15em;
    font-weight: bold;
}

/* ::::::::::::::::::::::::::::::::::::::: */
/* COLLECTION OF BUTTOS */
/* ::::::::::::::::::::::::::::::::::::::: */
.edit, .inputUpdate, .delete, .divDelete{
    height: 1.2em;
    width: 1.2em;
}

.edit{
    background-image: url("https://img.icons8.com/fluency-systems-filled/452/edit.png");
    background-repeat: no-repeat;
    background-color: white;
    background-size: .9em 0.9em;
  background-position: center center;
}

.inputUpdate{
    background-image: url("https://miro.medium.com/max/1400/0*vdUY_dRmKtBvgYaM.jpeg");
    background-repeat: no-repeat;
    background-color: white;
    background-size: 1.2em 0.9em;
  background-position: center center;
}

/*  Button to delet a task*/
.delete{
    background-image: url("https://www.pikpng.com/pngl/m/159-1591301_pc-icon-to-delete-comments-delete-icon-svg.png");
    background-repeat: no-repeat;
    background-color: white;
    background-size: .9em 0.9em;
  background-position: center center;
}

/* ::::::::::::::::::::::::::::::::::::::: */
/* FORM TO UPDATE THE NAME OS THE TASK */
/* ::::::::::::::::::::::::::::::::::::::: */
.editForm{

    /* border:0.02em solid yellowgreen;
    background-color: rgb(129, 161, 131);  */

}

/* id editName */
.inputIdName {
    border:0.02em solid yellowgreen;
    background-color: rgb(170, 130, 164); 
}

/* input editName */
.editName{
    flex-grow: 1;
    flex-shrink: 1;
    color: rgb(255, 250, 185);
    background-color: rgb(44, 44, 43);
    padding: calc(var(--pad-gap)/2);
    height: fit-content;
}

/* ::::::::::::::::::::::::::::::::::::::: */
/* FOOTER HOME PAGE */
/* ::::::::::::::::::::::::::::::::::::::: */

.footer {
    padding-top:var(--pad-gap);
}

/* ==========================================
=========================================
TASK PROFILE PAGE
==========================================
========================================= */



/* ::::::::::::::::::::::::::::::::::::::: */
/* CRUMBS: Link to go back to HOME PAGE */
/* ::::::::::::::::::::::::::::::::::::::: */
.crumbs{
    display: flex;
   gap: calc(var(--pad-gap)/2);
   align-items: center;
}

/* link to home page */
.crumbs a{
font-size: 1.5em;
color: red;
}

/* symbol */
.crumbs span:first-of-type{
    font-size: 1.5em;
    font-weight: bold;
    color: yellowgreen;
    }

    /* task id */
.crumbs span:last-of-type{
    font-size: 0.9em;
    color: rgb(223, 147, 253);
    
    }    

    /* Heading of TASK PROFILE PAGE */
.profileHeading{
color: red;
}
  

/* ::::::::::::::::::::::::::::::::::::::: */
/* Task profile informatio */
/* ::::::::::::::::::::::::::::::::::::::: */

.profileWrap{
display: flex;
gap: calc(var(--pad-gap));
padding: calc(var(--pad-gap)*2);
width: fit-content;
border-radius: 10%;

border:0.02em solid yellowgreen;
background-color: rgb(170, 130, 164); 
}

/* ::::::::::::::::::::::::::::::::::::::: */
/* Tags  / information of the task  */
/* ::::::::::::::::::::::::::::::::::::::: */

.profileTags, .profileValues{
    display: grid;
    gap: var(--pad-gap);
}

.profileTags p{
    color:red;
    border:0.02em solid blue;
} 

.profileValues p{
    color:rgb(157, 248, 225);
    border:0.03em solid black; 
} 


/* ==========================================
=========================================
MEDIA QUERIES
==========================================
========================================= */


@media screen and (min-width: 25em) {
/*  Information container / form to update the name / item row*/
.labelEdit, .editForm, .itemrow { gap: calc(var(--pad-gap)/2);}
}


@media screen and (min-width: 45em) {
/* ADD TASK FORM */
    .addForm{
        flex-grow: 1;
        padding: calc(var(--pad-gap)) calc(var(--pad-gap)*8);
    }
} 

@media screen and (min-width: 55em) {
    /* MAIN PAGE CONTAINER*/
    .main{
        width: auto;
        max-width: 55em;
        margin: 0 auto;
    }

    /*  Information container / form to update the name / item row*/
    .labelEdit, .editForm, .itemrow {gap: calc(var(--pad-gap));}
}