/* :::::::::::::::::::::::::::RESETS :::::::::::::::::::::::::::::::::::::::: */
html, body {
	height: 100%;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
  	margin:0; 
	background: rgb(255, 234, 255);
	background: linear-gradient(229deg, 
	rgb(208, 163, 214) 0%, rgb(221, 215, 208) 47%, 
	rgb(224, 212, 230) 65%);
	background-repeat: no-repeat;
    background-attachment: fixed;

}

*, *::before, *::after {
	box-sizing: inherit;
}



* {
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  line-height: 1.2; 
  margin: 0;
  padding:0;  
}

ul, ol { 
	list-style-type: none;
}
  
img{
	max-width: 100%;
	width: auto;
	height: auto;
	vertical-align: bottom;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* ::::::::::::::::::::::::::::::VARIABLES :::::::::::::::::::::::::::::: */
html{
    --pad-gap:1em; /* paddings and gaps */  
}
	

.hide{
    display: none;
}

/* ::::::::::::::::::::::::::::::::::::::: */
/* HEADER */
/* ::::::::::::::::::::::::::::::::::::::: */

.topHeader{
    display: flex;
    justify-content: center;
    gap: var(--pad-gap);
    padding-top: calc(var(--pad-gap)*2);


    /* border:0.2em solid yellowgreen;
    background-color: blueviolet; */
}

.logo{
    border:0.2em solid yellowgreen;
}

.appName{
    border:0.2em solid yellowgreen;
}

/* ::::::::::::::::::::::::::::::::::::::: */
/* MAIN */
/* ::::::::::::::::::::::::::::::::::::::: */

.main{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    gap: var(--pad-gap);
    padding:  calc(var(--pad-gap)/2);
   

    /* border:0.2em solid rgb(209, 109, 15);
    background-color: rgb(126, 189, 145);   */
}

/* ::::::::::::::::::::::::::::::::::::::: */
/* ADD FORM */
/* ::::::::::::::::::::::::::::::::::::::: */

.addForm{
    display: flex;
    justify-content: space-between;
    gap: var(--pad-gap);
    padding:calc(var(--pad-gap)) 0 ;


    /* border:0.2em solid yellowgreen;
    background-color: rgb(118, 61, 172);   */
}

.inputTask{
    flex-grow: 1;
    flex-wrap: wrap;
    padding-left: var(--pad-gap);


    height: 2em;
}

.submitTask{

    height: 2em;
    width: 2em;
}

/* ::::::::::::::::::::::::::::::::::::::: */
/* CONTAINER FOR TASKS LIST */
/* ::::::::::::::::::::::::::::::::::::::: */
.ulTasks{
    display: grid;
    gap: calc(var(--pad-gap)/4);
    

    /* border:0.2em solid yellowgreen;
    background-color: rgb(138, 238, 155);   */
}

.itemrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--pad-gap)/4);
    padding: calc(var(--pad-gap)/2) ;


    border:0.02em solid yellowgreen;
    background-color: rgb(194, 158, 200);  
}

.iteInfoContainer{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    gap: calc(var(--pad-gap)/4);

    /* border:0.02em solid yellowgreen;
    background-color: rgb(67, 78, 231);   */
}

.divCheck, .checkbox{
    height:1em;
    width: 1em;

}


.labelFormControls{
    display: grid;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    

    /* border:0.02em solid yellowgreen;
    background-color: rgb(209, 209, 209);  */
}

.labelEdit, .editForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--pad-gap)/8 );
   
}

.labelEdit {

    /* border:0.02em solid yellowgreen;
    background-color: rgb(124, 136, 125);  */
}

.labelAnchor, .inputIdName{
    display: flex;
    gap: var(--pad-gap);
    flex-grow: 1;
    flex-wrap: wrap;
}

.labelAnchor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* border:0.02em solid yellowgreen;
    background-color: rgb(194, 158, 200);  */
}
.labelforCheck{
    flex-shrink: 1;
    height: fit-content;
    color: teal;
    font-weight: bold;
   
    padding: calc(var(--pad-gap)/2);
    flex-grow: 1;

    /* background-color: rgb(184, 184, 184); */
}

.itemLinkInfo{
    background-color: rgba(200, 108, 108, 0.507);
    border-radius: 50%;
    height: 1.2em;
    width: 1.2em;
    text-align: center;
    padding-top: .15em;
    font-weight: bold;
}

.edit, .inputUpdate, .delete, .divDelete{
    height: 1.2em;
    width: 1.2em;
}

.delete{
    background-image: url("https://www.pikpng.com/pngl/m/159-1591301_pc-icon-to-delete-comments-delete-icon-svg.png");
    background-repeat: no-repeat;
    background-color: white;
    background-size: .9em 0.9em;
  background-position: center center;
}

.edit{
    background-image: url("https://img.icons8.com/fluency-systems-filled/452/edit.png");
    background-repeat: no-repeat;
    background-color: white;
    background-size: .9em 0.9em;
  background-position: center center;
}

.inputUpdate{
    background-image: url("https://miro.medium.com/max/1400/0*vdUY_dRmKtBvgYaM.jpeg");
    background-repeat: no-repeat;
    background-color: white;
    background-size: 1.2em 0.9em;
  background-position: center center;
}


.editForm{

    /* border:0.02em solid yellowgreen;
    background-color: rgb(129, 161, 131);  */

}

.inputIdName {
    border:0.02em solid yellowgreen;
    background-color: rgb(170, 130, 164); 
}

.inputIdName:focus {
    
}

.editName{
    flex-grow: 1;
    flex-shrink: 1;
    color: rgb(255, 250, 185);
    background-color: rgb(44, 44, 43);
    padding: calc(var(--pad-gap)/2);
    height: fit-content;
}



.footer {
    padding-top:var(--pad-gap);
}


.crumbs{
    display: flex;
   gap: calc(var(--pad-gap)/2);
   align-items: center;
}

.crumbs a{
font-size: 1.5em;
color: red;
}

.crumbs a{
font-size: 1.5em;
color: red;
}

.crumbs span:first-of-type{
    font-size: 1.5em;
    font-weight: bold;
    }

.crumbs span:last-of-type{
    font-size: 0.9em;
    
    }    

.profileWrap{
display: flex;
gap: calc(var(--pad-gap));
padding: calc(var(--pad-gap)*2);
width: fit-content;
border-radius: 10%;

border:0.02em solid yellowgreen;
background-color: rgb(170, 130, 164); 
}
.profileTags, .profileValues{
    display: grid;
    gap: var(--pad-gap);
}

.profileTags p{
    color:red;
    border:0.02em solid blue;
  
} 

.profileValues p{
    color:rgb(157, 248, 225);
    border:0.03em solid black; 
} 

@media screen and (min-width: 25em) {
.labelEdit, .editForm, .itemrow {
    
    gap: calc(var(--pad-gap)/2);
    
   
}

}

@media screen and (min-width: 40em) {

    .main, {
        padding:calc(var(--pad-gap)) 0 ;
    }
}


@media screen and (min-width: 45em) {
    .addForm{
        flex-grow: 1;
        padding: calc(var(--pad-gap)) calc(var(--pad-gap)*8);
    }
} 

@media screen and (min-width: 55em) {

    .main{
        width: auto;
        max-width: 55em;
        margin: 0 auto;
    }

    .labelEdit, .editForm, .itemrow {
        gap: calc(var(--pad-gap));
    }
}